@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

html, body {
  max-width: 100vw; 
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
}

/* Custom CSS */
#input-icon {
  box-shadow: 0 0 0 calc(3px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  clip-path: inset(-3px -3px -3px 0px);
}

#input:focus {
  box-shadow: 0 0 0 calc(3px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  clip-path: inset(-3px 0px -3px -3px);
}

#users-container::-webkit-scrollbar-track, #messages-container::-webkit-scrollbar-track, #media-container::-webkit-scrollbar-track {
  background-color: transparent;
}

#users-container::-webkit-scrollbar, #messages-container::-webkit-scrollbar, #media-container::-webkit-scrollbar {
  width: 0.375rem;
}

#users-container::-webkit-scrollbar-thumb, #messages-container::-webkit-scrollbar-thumb, #media-container::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: #d1d5db;
}

#about:hover svg, #media:hover svg {
  color: #3b82f6;
}

#close-profile:hover svg, #close-profile:hover div {
  color: #6b7280;
}